<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{$Think.LIB}html5shiv.js"></script>
    <script type="text/javascript" src="{$Think.LIB}respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{$Think.CSS}H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.ADMIN_CSS}H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.LIB}Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.ADMIN_SKIN}default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="{$Think.ADMIN_CSS}style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="{$Think.LIB}DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>O2O团购网后台</title>
    <meta name="keywords" content="H-ui.admin v3.1+TP5.1后台管理系统">
    <meta name="description" content="H-ui.admin v3.1+TP5.1后台管理系统">
</head>
<body>