<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="{$Think.CSS}base.css" />
    <link rel="stylesheet" href="{$Think.CSS}login.css" />
    <script type="text/javascript" src="{$Think.JS}html5shiv.js"></script>
    <script type="text/javascript" src="{$Think.JS}respond.min.js"></script>
    <script type="text/javascript" src="{$Think.JS}jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <ul>
            <li><a href="{:url('index/index')}"><img src="{$Think.IMAGE}logo.png" alt="logo"></a></li>
            <li class="divider"></li>
            <li>登录</li>
        </ul>
        <div class="login-link">
            <span>还没o2o团购网帐号</span>
            <a href="{:url('register/index')}">注册</a>
        </div>
    </div>

    <div class="content">
        <div class="wrap">
            <div class="login-logo"></div>
            <div class="login-area">
                <div class="title">登录</div>
                <div class="login">
                        <div class="ordinaryLogin">

                            <p class="pass-form-item">
                                <label class="pass-label">用户名</label>
                                <input type="text" name="user_name" id="user_name" class="pass-text-input" placeholder="用户名">
                            </p>
                            <p class="pass-form-item">
                                <label class="pass-label">密码</label>
                                <input type="password" name="password" id="password" class="pass-text-input" placeholder="密码">
                            </p>
                            <p class="pass-form-item">
                                <label class="pass-label">验证码</label>
                                <input type="text" name="captcha" class="pass-text-input" id="captcha" placeholder="验证码">
                                <?php $verify=url('verify');?>
                                <img src="{:url('login/verify')}" alt="captcha" id="verify_img" title="验证码" onclick="this.src='{$verify}?d='+Math.random();"/>

                            </p>


                        </div>

                        <div class="commonLogin">
                            <p class="pass-form-item">
                                <input type="submit" value="登录" class="pass-button">


                            </p>
                        </div>
                    <textarea id="rsa_public_key" style="display: none" rows="15" cols="65">{$rsa_public}</textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <ul class="first">

        </ul>
        <ul class="second">


        </ul>
    </div>
</div>
<script>
    $(".pass-sms-btn").click(function(){
        $(".ordinaryLogin").css({display: "none"});
        $(".messageLogin,.question").css({display: "block"});
    });
    $(".pass-sms-link").click(function(){
        $(".messageLogin,.question").css({display: "none"});
        $(".ordinaryLogin").css({display: "block"});
    });
</script>
</body>
</html>
<script type="text/javascript" src="{$Think.COMMON_JS}jsencrypt.min.js"></script>
<script type="text/javascript" src="{$Think.COMMON_JS}layer/2.4/layer.js"></script>
<script>

    $(function () {
        change_verify();
    })
    //刷新验证码
    function change_verify() {
        var capsrc = '{$verify}?d=';
        $('#verify_img').attr('src', capsrc + Math.random());
    }

    $('input[type="submit"]').click(function () {


        var crypt = new JSEncrypt();
        crypt.setPublicKey($('#rsa_public_key').val());

        var username = $("#user_name").val();
        var pwd = $("#password").val();



        // 经RSA加密后的数据
        var rsa_username = crypt.encrypt(username);
        var rsa_pwd = crypt.encrypt(pwd);


        $.ajax({
            url: "{:url('Login/doLogin')}",
            data: {
                "user_name": rsa_username,
                "password": rsa_pwd,
                "captcha": $('#captcha').val()
            },
            dataType: 'json',
            type: 'post',
            success: function (data) {
                if (data.code == 1) {
                    layer.msg(data.msg);
                    window.location.href = '/index/index/index';
                } else {
                    layer.msg(data.msg);
                    change_verify();
                }

            }
        })
    })
</script>