<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>注册</title>
    <link rel="stylesheet" href="{$Think.CSS}base.css" />
    <link rel="stylesheet" href="{$Think.CSS}register.css" />
    <script type="text/javascript" src="{$Think.JS}html5shiv.js"></script>
    <script type="text/javascript" src="{$Think.JS}respond.min.js"></script>
    <script type="text/javascript" src="{$Think.JS}jquery-1.11.3.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="head">
        <ul>
            <li><a href="{:url('index/index')}"><img src="{$Think.IMAGE}logo.png" alt="logo"></a></li>
            <li class="divider"></li>
            <li><a href="{:url('index/index')}"></a></li>
        </ul>
        <div class="login-link">
            <span>我已注册，现在就</span>
            <a href="{:url('login/index')}">登录</a>
        </div>
    </div>

    <div class="content">
      <form method="post" action="">
            <p class="pass-form-item">
                <label class="pass-label">用户名</label>
                <input type="text" name="user_name" id="user_name" class="pass-text-input" placeholder="请设置用户名">
            </p>
            <p class="pass-form-item">
                <label class="pass-label">邮箱号</label>
                <input type="text" name="email"  id="email" class="pass-text-input" placeholder="可用于接受团购券账号和密码便于消费">
            </p>

            <p class="pass-form-item">
                <label class="pass-label">密码</label>
                <input type="text" name="password" id="password" class="pass-text-input" placeholder="请设置登录密码">
            </p>
            <p class="pass-form-item">
                <label class="pass-label">确认密码</label>
                <input type="text"  id="confirm_password" class="pass-text-input" placeholder="请设置登录密码">
            </p>
            <p class="pass-form-item">
                <label class="pass-label">验证码</label>
                <input type="text" name="captcha" class="pass-text-input " id="captcha" placeholder="请输入验证码">
                <?php $verify=url('verify');?>
                <img src="{:url('register/verify')}" alt="captcha"  id="verify_img" title="验证码" onclick="this.src='{$verify}?d='+Math.random();"/>
            </p>

            <p class="pass-form-item">
                <input type="submit" value="注册" class="pass-button">
            </p>
            <textarea id="rsa_public_key" style="display: none" rows="15" cols="65">{$rsa_public}</textarea>
      </form>
    </div>

    <div class="foot">
        <div>
            <div>2019 ©Hillmay芝麻喵喵||蜀ICP备19009311号</div>
        </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="{$Think.COMMON_JS}jsencrypt.min.js"></script>
<script type="text/javascript" src="{$Think.COMMON_JS}layer/2.4/layer.js"></script>
<script>

    $(function () {
        change_verify();
    })
    //刷新验证码
    function change_verify() {
        var capsrc = '{$verify}?d=';
        $('#verify_img').attr('src', capsrc + Math.random());
    }

    $('input[type="submit"]').click(function () {


        var crypt = new JSEncrypt();
        crypt.setPublicKey($('#rsa_public_key').val());

        var username = $("#user_name").val();
        var pwd = $("#password").val();
        var confirm_pwd = $("#confirm_password").val();
        var email = $("#email").val();

        // 经RSA加密后的数据
        var rsa_username = crypt.encrypt(username);
        var rsa_pwd = crypt.encrypt(pwd);
        var rsa_email= crypt.encrypt(email);

        $.ajax({
            url: "{:url('register/doRegister')}",
            data: {
                "user_name": rsa_username,
                "password": rsa_pwd,
                "confirm_password":confirm_pwd,
                "email": rsa_email,
                "captcha": $('#captcha').val()
            },
            dataType: 'json',
            type: 'post',
            success: function (data) {
                if (data.code == 1) {
                    layer.msg(data.msg);
                    window.location.href = '/index/login/index';
                } else {
                    layer.msg(data.msg);
                    change_verify();
                }

            }
        })
    })
</script>