{include file="layout/top" /}
<link href="{$Think.ADMIN_CSS}H-ui.login.css" rel="stylesheet" type="text/css"/>
<div class="header">O2O团购网</div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <div class="form form-horizontal">
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input name="admin_name" type="text" placeholder="账户" id="admin_name" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input name="password" type="password" placeholder="密码" id="password" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input class="input-text size-L" name="captcha" id="captcha" type="text" placeholder="验证码"
                           onblur="if(this.value==''){this.value='验证码:'}"
                           onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">
                    <?php $verify=url('verify');?>
                    <img src="{:url('login/verify')}" alt="captcha" id="verify_img" title="验证码"
                         onclick="this.src='{$verify}?d='+Math.random();"/>
                </div>
                <div class="row cl">
                    <div class="formControls col-xs-8 col-xs-offset-3">
                        <label for="online">
                            <input type="checkbox" name="online" id="online" value="">
                            使我保持登录状态</label>
                    </div>
                </div>
                <div class="row cl">
                    <div class="formControls col-xs-8 col-xs-offset-3">
                        <input type="submit" class="btn btn-success radius size-L"
                               value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                        <input type="reset" class="btn btn-default radius size-L"
                               value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                    </div>
                </div>
                <textarea id="rsa_public_key" style="display: none" rows="15" cols="65">{$rsa_public}</textarea>
            </div>
        </div>
    </div>
</div>
<div class="footer">2019 ©Hillmay芝麻喵喵||蜀ICP备19009311号</div>
{include file="layout/footer" /}
<script type="text/javascript" src="{$Think.COMMON_JS}jsencrypt.min.js"></script>
<script>
    //重置按钮
    $('input[type="reset"]').click(function () {
        $('input[type="admin_name"]').val('');
        $('input[type="password"]').val('');
        $('input[type="captcha"]').val('');
        var capsrc = '{$verify}?d=';
        $('#verify_img').attr('src', capsrc + Math.random());
    });

    $(function () {
        change_verify();
    })
    //刷新验证码
    function change_verify() {
        var capsrc = '{$verify}?d=';
        $('#verify_img').attr('src', capsrc + Math.random());
    }

    $('input[type="submit"]').click(function () {

        var crypt = new JSEncrypt();
        crypt.setPublicKey($('#rsa_public_key').val());

        var username = $("#admin_name").val();
        var pwd = $("#password").val();

        // 经RSA加密后的数据
        var rsa_username = crypt.encrypt(username);
        var rsa_pwd = crypt.encrypt(pwd)

        $.ajax({
            url: "{:url('login/loginPost')}",
            data: {
                "admin_name": rsa_username,
                "password": rsa_pwd,
                "captcha": $('#captcha').val()
            },
            dataType: 'json',
            type: 'post',
            success: function (data) {
                if (data.code == 1) {
                    layer.msg(data.msg);
                    window.location.href = '/admin/index/index';
                } else {
                    layer.msg(data.msg);
                    change_verify();
                }

            }
        })
    })
</script>